<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
   PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="printboard">
	<insert id="printinsert" parameterType="com.docedu.web.user.vo.PrintimsiVO">
		insert into
		printimsi(pi_name, pi_source, pi_text) 
		values(#{pi_name}, #{pi_source}, #{pi_text});
	</insert>
	<select id="getPi_view" resultType="com.docedu.web.user.vo.PrintimsiVO">
		select * from printimsi Where pi_seq = #{pi_seq};
	</select>
	<select id="getPi_boardList" resultType="com.docedu.web.user.vo.PrintimsiVO">
		select * from printimsi;
	</select>
</mapper>